<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OmniStyle</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.framework.OmniStyle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0.1d1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4E3002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0433</string>
	<key>DTXcodeBuild</key>
	<string>4E3002</string>
	<key>OFRegistrations</key>
	<dict>
		<key>NSUserDefaults</key>
		<dict>
			<key>defaultsDictionary</key>
			<dict>
				<key>OSAudioCaptureCompressionSettings</key>
				<data>
				</data>
				<key>OSAudioCaptureTemporaryDirectory</key>
				<string>~/Desktop</string>
				<key>OSAudioCapturerInputPowerScale</key>
				<integer>1</integer>
				<key>OSAudioInputDefaultDeviceUID</key>
				<string></string>
				<key>OSImageAttachmentMaximumSize</key>
				<real>512</real>
				<key>OSNamedStyleListKeyBinding</key>
				<string>function</string>
				<key>OSStylePaletteInspectorVisible</key>
				<true/>
				<key>OSTextAttachmentURLifyEnabled</key>
				<true/>
				<key>OSUseFontLeading</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
