<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aliases</key>
		<array>
			<string>pie</string>
			<string>pies</string>
		</array>
		<key>unit</key>
		<string>ft</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>pulgada</string>
			<string>pulgadas</string>
		</array>
		<key>unit</key>
		<string>pulg.</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>metros</string>
			<string>metro</string>
			<string>metros</string>
			<string>metro</string>
		</array>
		<key>unit</key>
		<string>m</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>yarda</string>
			<string>yardas</string>
		</array>
		<key>unit</key>
		<string>yd</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>milla</string>
			<string>millas</string>
		</array>
		<key>unit</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>punto</string>
			<string>puntos</string>
		</array>
		<key>unit</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>píxel</string>
			<string>píxeles</string>
		</array>
		<key>unit</key>
		<string>px</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>pica</string>
			<string>picas</string>
		</array>
		<key>unit</key>
		<string>p</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>milímetro</string>
			<string>milímetros</string>
			<string>milímetro</string>
			<string>milímetros</string>
		</array>
		<key>unit</key>
		<string>mm</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>centímetro</string>
			<string>centímetros</string>
			<string>centímetro</string>
			<string>centímetros</string>
		</array>
		<key>unit</key>
		<string>cm</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>kilómetro</string>
			<string>kilómetros</string>
			<string>kilómetro</string>
			<string>kilómetros</string>
		</array>
		<key>unit</key>
		<string>km</string>
	</dict>
</array>
</plist>
