<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11G63b</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.OmniGraffle.filter.OmniOutliner</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0.1d1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4E3002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0433</string>
	<key>DTXcodeBuild</key>
	<string>4E3002</string>
	<key>OFRegistrations</key>
	<dict>
		<key>NSUserDefaults</key>
		<dict>
			<key>defaultsDictionary</key>
			<dict>
				<key>ImportNewCanvas</key>
				<false/>
				<key>LastOutlineImportStyle</key>
				<string></string>
			</dict>
		</dict>
		<key>OGImportFilter</key>
		<dict>
			<key>OGOmniOutlinerFilter</key>
			<dict>
				<key>types</key>
				<array>
					<string>com.omnigroup.omnioutliner.oo3</string>
					<string>com.omnigroup.omnioutliner.oo3-package</string>
					<string>com.omnigroup.omnioutliner.oo3template</string>
					<string>com.omnigroup.omnioutliner.oo3template-package</string>
					<string>com.omnigroup.omnioutliner.ooutline</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>OFRequiredSoftwareVersions</key>
	<dict>
		<key>com.omnigroup.OmniGraffle.Shapes</key>
		<string></string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 document</string>
			<key>UTTypeIconName</key>
			<string>OO3Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>OutL</string>
				<key>public.filename-extension</key>
				<string>oo3</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 document</string>
			<key>UTTypeIconName</key>
			<string>OO3Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>OutL</string>
				<key>public.filename-extension</key>
				<string>oo3</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnioutliner.oo3</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 template</string>
			<key>UTTypeIconName</key>
			<string>OO3Template.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>oo3template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnioutliner.oo3-package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 template</string>
			<key>UTTypeIconName</key>
			<string>OO3Template.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3template-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>oo3template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 2 document</string>
			<key>UTTypeIconName</key>
			<string>OmniOutlinerDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.ooutline</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>outline</string>
					<string>ooutline</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
