<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11G63b</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OmniSoftwareUpdate</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.framework.OmniSoftwareUpdate</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>OSU_VERSION_NUMBER</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4E3002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0433</string>
	<key>DTXcodeBuild</key>
	<string>4E3002</string>
	<key>OFRegistrations</key>
	<dict>
		<key>NSUserDefaults</key>
		<dict>
			<key>defaultsDictionary</key>
			<dict>
				<key>AutomaticSoftwareUpdateCheckEnabled</key>
				<true/>
				<key>OSUCheckInterval</key>
				<integer>168</integer>
				<key>OSUIgnoredUpdates</key>
				<array/>
				<key>OSUIncludeHardwareDetails</key>
				<true/>
				<key>OSUIncludeOpenGLDetails</key>
				<false/>
				<key>OSUVisibleTracks</key>
				<array/>
			</dict>
		</dict>
		<key>OAPreferenceController</key>
		<dict>
			<key>OSUPreferenceClient</key>
			<dict>
				<key>category</key>
				<string>Basic</string>
				<key>defaultsArray</key>
				<array>
					<string>OSUCheckInterval</string>
					<string>OSUIncludeHardwareDetails</string>
				</array>
				<key>defaultsDictionary</key>
				<dict>
					<key>AutomaticSoftwareUpdateCheckEnabled</key>
					<true/>
					<key>OASoftwareUpdateUIClass</key>
					<string>OSUController</string>
					<key>OSUIncludeHardwareDetails</key>
					<true/>
				</dict>
				<key>helpURL</key>
				<string>anchor:updatepreferences</string>
				<key>icon</key>
				<string>OSUPreferences</string>
				<key>identifier</key>
				<string>com.omnigroup.framework.OmniSoftwareUpdate.preferences</string>
				<key>nib</key>
				<string>OSUPreferences</string>
				<key>ordering</key>
				<integer>200</integer>
				<key>shortTitle</key>
				<string>Update</string>
				<key>title</key>
				<string>Automatic Software Update</string>
			</dict>
		</dict>
	</dict>
	<key>OFRequiredSoftwareVersions</key>
	<dict>
		<key>OmniAppKit</key>
		<string>2004A</string>
	</dict>
</dict>
</plist>
