<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aliases</key>
		<array>
			<string>voet</string>
			<string>voeten</string>
		</array>
		<key>unit</key>
		<string>ft</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>inch</string>
			<string>inches</string>
		</array>
		<key>unit</key>
		<string>in</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>meters</string>
			<string>meter</string>
			<string>meters</string>
			<string>meter</string>
		</array>
		<key>unit</key>
		<string>m</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>yard</string>
			<string>yards</string>
		</array>
		<key>unit</key>
		<string>yd</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>mijl</string>
			<string>mijlen</string>
		</array>
		<key>unit</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>punt</string>
			<string>punten</string>
		</array>
		<key>unit</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>pixel</string>
			<string>pixels</string>
		</array>
		<key>unit</key>
		<string>px</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>pica</string>
			<string>pica's</string>
		</array>
		<key>unit</key>
		<string>p</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>millimeter</string>
			<string>millimeters</string>
			<string>millimeter</string>
			<string>millimeters</string>
		</array>
		<key>unit</key>
		<string>mm</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>centimeter</string>
			<string>centimeters</string>
			<string>centimeter</string>
			<string>centimeters</string>
		</array>
		<key>unit</key>
		<string>cm</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>kilometer</string>
			<string>kilometers</string>
			<string>kilometer</string>
			<string>kilometers</string>
		</array>
		<key>unit</key>
		<string>km</string>
	</dict>
</array>
</plist>
