<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aliases</key>
		<array>
			<string>piede</string>
			<string>piedi</string>
		</array>
		<key>unit</key>
		<string>ft</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>pollice</string>
			<string>pollici</string>
		</array>
		<key>unit</key>
		<string>in</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>metri</string>
			<string>metro</string>
			<string>metri</string>
			<string>metro</string>
		</array>
		<key>unit</key>
		<string>m</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>iarda</string>
			<string>iarde</string>
		</array>
		<key>unit</key>
		<string>yd</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>miglio</string>
			<string>miglia</string>
		</array>
		<key>unit</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>punto</string>
			<string>punti</string>
		</array>
		<key>unit</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>pixel</string>
			<string>pixel</string>
		</array>
		<key>unit</key>
		<string>px</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>pica</string>
			<string>pica</string>
		</array>
		<key>unit</key>
		<string>p</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>millimetro</string>
			<string>millimetri</string>
			<string>millimetro</string>
			<string>millimetri</string>
		</array>
		<key>unit</key>
		<string>mm</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>centimetro</string>
			<string>centimetri</string>
			<string>centimetro</string>
			<string>centimetri</string>
		</array>
		<key>unit</key>
		<string>cm</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>chilometro</string>
			<string>chilometri</string>
			<string>chilometro</string>
			<string>chilometri</string>
		</array>
		<key>unit</key>
		<string>km</string>
	</dict>
</array>
</plist>
