<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.OmniGraffle.filter.ProjectBuilder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0.1d1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4E3002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0433</string>
	<key>DTXcodeBuild</key>
	<string>4E3002</string>
	<key>OFRegistrations</key>
	<dict>
		<key>NSUserDefaults</key>
		<dict>
			<key>defaultsDictionary</key>
			<dict>
				<key>PBShowAttributeTypes</key>
				<true/>
				<key>PBShowAttributes</key>
				<true/>
				<key>PBShowCategories</key>
				<false/>
				<key>PBShowMethodTypes</key>
				<true/>
				<key>PBShowMethods</key>
				<true/>
				<key>PBShowOutsideClasses</key>
				<true/>
				<key>PBShowProtocols</key>
				<false/>
			</dict>
		</dict>
		<key>OGImportFilter</key>
		<dict>
			<key>OGPBFilter</key>
			<dict>
				<key>types</key>
				<array>
					<string>com.apple.xcode.project</string>
					<string>com.omnigroup.foreign-types.apple-xcode</string>
					<string>com.omnigroup.foreign-types.apple-framework</string>
					<string>com.omnigroup.foreign-types.apple-framework</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>OFRequiredSoftwareVersions</key>
	<dict>
		<key>com.omnigroup.OmniGraffle.Shapes</key>
		<string></string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>com.apple.package</string>
			<key>UTTypeDescription</key>
			<string>ProjectBuilderDocumentType</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.apple-xcode</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pbproj</string>
					<string>pbxproj</string>
					<string>xcode</string>
					<string>xcodeproj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>com.apple.package</string>
			<key>UTTypeDescription</key>
			<string>ProjectBuilderDocumentType</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.apple-framework</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>framework</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
