<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Move</key>
	<array>
		<string>${ApplicationSupport}/The Omni Group/OmniGraffle</string>
		<string>${ApplicationSupport}/OmniGraffle</string>
                <array>
                    <string>${Library}/Scripts/Applications/OmniGraffle</string>
                    <string>${Library}/Application Scripts</string>
                </array>
	</array>
</dict>
</plist>
