<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#000000</string>
	<string>#FFFFFF</string>
	<string>#FF0000</string>
	<string>#00FF00</string>
	<string>#0000FF</string>
	<string>#FFFF00</string>
	<string>#FF00FF</string>
	<string>#00FFFF</string>
	<string>#800000</string>
	<string>#008000</string>
	<string>#000080</string>
	<string>#808000</string>
	<string>#800080</string>
	<string>#008080</string>
	<string>#C0C0C0</string>
	<string>#E6E6E6</string>
	<string>#CDCDCD</string>
	<string>#B3B3B3</string>
	<string>#9A9A9A</string>
	<string>#808080</string>
	<string>#666666</string>
	<string>#4D4D4D</string>
	<string>#333333</string>
	<string>#1A1A1A</string>
</array>
</plist>
