<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>mention</string>
    <key>CFBundleName</key>
    <string>mention</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.24</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>com.mention.mention</string>
    <key>CFBundleIconFile</key>
    <string>mention.icns</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2012 mention</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.social-networking</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.6.6</string>
</dict>
</plist>
