<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aliases</key>
		<array>
			<string>pied</string>
			<string>pieds</string>
		</array>
		<key>unit</key>
		<string>ft</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>pouce</string>
			<string>pouces</string>
		</array>
		<key>unit</key>
		<string>po</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>mètres</string>
			<string>mètre</string>
			<string>mètres</string>
			<string>mètre</string>
		</array>
		<key>unit</key>
		<string>m</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>yard</string>
			<string>yards</string>
		</array>
		<key>unit</key>
		<string>yd</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>mile</string>
			<string>miles</string>
		</array>
		<key>unit</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>point</string>
			<string>points</string>
		</array>
		<key>unit</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>pixel</string>
			<string>pixels</string>
		</array>
		<key>unit</key>
		<string>px</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>pica</string>
			<string>picas</string>
		</array>
		<key>unit</key>
		<string>p</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>millimètre</string>
			<string>millimètres</string>
			<string>millimètre</string>
			<string>millimètres</string>
		</array>
		<key>unit</key>
		<string>mm</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>centimètre</string>
			<string>centimètres</string>
			<string>centimètre</string>
			<string>centimètres</string>
		</array>
		<key>unit</key>
		<string>cm</string>
	</dict>
	<dict>
		<key>aliases</key>
		<array>
			<string>kilomètre</string>
			<string>kilomètres</string>
			<string>kilomètre</string>
			<string>kilomètres</string>
		</array>
		<key>unit</key>
		<string>km</string>
	</dict>
</array>
</plist>
