(
   {
      aliases = ( foot, feet, フィート );
      unit = "ft";
   },
   {
      aliases = ( inch, inches, インチ );
      unit = "in";
   },
   {
      aliases = ( meters, meter, metres, metre, メートル );
      unit = "m";
   },
   {
      aliases = ( yard, yards, ヤード );
      unit = "yd";
   },
   {
      aliases = ( mile, miles, マイル );
      unit = "mi";
   },
   {
      aliases = ( point, points, ポイント );
      unit = "pt";
   },
   {
      aliases = ( pixel, pixels, ピクセル );
      unit = "px";
   },
   {
      aliases = ( pica, picas, パイカ );
      unit = "p";
   },
   {
      aliases = ( millimeter, millimeters, millimetre, millimetres, ミリメートル );
      unit = "mm";
   },
   {
      aliases = ( centimeter, centimeters, centimetre, centimetres, センチメートル );
      unit = "cm";
   },
   {
      aliases = ( kilometer, kilometers, kilometre, kilometres, キロメートル );
      unit = "km";
   }
)