<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11G63b</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>OmniGraffle 5</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>OGdoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>OmniGraffle Format</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.omnigraffle.graffle</string>
				<string>com.omnigroup.omnigraffle.graffle-package</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>public.tiff</string>
				<string>public.png</string>
				<string>com.compuserve.gif</string>
				<string>public.jpeg</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>public.html</string>
				<string>com.omnigroup.omnioutliner.oo3</string>
				<string>com.microsoft.bmp</string>
				<string>com.omnigroup.foreign-types.ms-visio.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>OGDiagramStyle.icns</string>
			<key>CFBundleTypeName</key>
			<string>OmniGraffle Diagram Style</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.omnigraffle.diagramstyle</string>
				<string>com.omnigroup.omnigraffle.diagramstyle-package</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>public.tiff</string>
				<string>public.png</string>
				<string>com.compuserve.gif</string>
				<string>public.jpeg</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>public.html</string>
				<string>com.omnigroup.omnioutliner.oo3</string>
				<string>com.microsoft.bmp</string>
				<string>com.omnigroup.foreign-types.ms-visio.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>OGTemplate.icns</string>
			<key>CFBundleTypeName</key>
			<string>OmniGraffle Template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.omnigraffle.template</string>
				<string>com.omnigroup.omnigraffle.template-package</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>public.tiff</string>
				<string>public.png</string>
				<string>com.compuserve.gif</string>
				<string>public.jpeg</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>public.html</string>
				<string>com.omnigroup.omnioutliner.oo3</string>
				<string>com.microsoft.bmp</string>
				<string>com.omnigroup.foreign-types.ms-visio.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>StencilDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>OmniGraffle Stencil</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.omnigraffle.gstencil</string>
				<string>com.omnigroup.omnigraffle.gstencil-package</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>public.tiff</string>
				<string>public.png</string>
				<string>com.compuserve.gif</string>
				<string>public.jpeg</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>public.html</string>
				<string>com.omnigroup.omnioutliner.oo3</string>
				<string>com.microsoft.bmp</string>
				<string>com.omnigroup.foreign-types.ms-visio.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Apple PDF pasteboard type</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>com.omnigroup.foreign-types.ai</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator document</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.illustrator.ai-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NibDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.apple-nib</string>
				<string>com.apple.interfacebuilder.document</string>
				<string>com.apple.interfacebuilder.document.cocoa</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Visio_Doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>VisioBinaryDrawingType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.ms-visio</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Visio_Doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>VisioBinaryStencilType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.ms-visio.stencil</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Visio_Doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>VisioBinaryTemplateType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.ms-visio.template</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Visio_Doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>VisioXMLDrawingType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.ms-visio.xml</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Visio_Doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>VisioXMLStencilType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.ms-visio.xml.stencil</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Visio_Doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>VisioXMLTemplateType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.ms-visio.xml.template</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>OO3Document.icns</string>
			<key>CFBundleTypeName</key>
			<string>OmniOutliner v3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.omnioutliner.oo3</string>
				<string>com.omnigroup.omnioutliner.oo3-package</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>OO3Template.icns</string>
			<key>CFBundleTypeName</key>
			<string>OmniOutliner Template v3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.omnioutliner.oo3template</string>
				<string>com.omnigroup.omnioutliner.oo3template-package</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>OmniOutlinerDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>OOOutlineDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.omnioutliner.ooutline</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Diagram.icns</string>
			<key>CFBundleTypeName</key>
			<string>Lighthouse Diagram2 File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.lighthouse-diagram</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Diagram.icns</string>
			<key>CFBundleTypeName</key>
			<string>Lighthouse Diagram2 Palette Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.lighthouse-diagram-palette</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Apple EOModeler File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.apple-eomodel</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ProjectBuilderDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.projectdata</string>
				<string>com.apple.xcode.project</string>
				<string>com.omnigroup.foreign-types.apple-xcode</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>FrameworkDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.apple-framework</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Graphviz File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.omnigroup.foreign-types.graphviz-dot</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>FolderHierarchyType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>NSDocumentClass</key>
			<string>OGGraffleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GIF Format</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NeXT TIFF v4.0 pasteboard type</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JPEG Format</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>public.jpeg-2000</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PICT</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.pict</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PNG</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Photoshop</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop-​image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>BMP</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>EPS Format</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HTML Image Map</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>OmniGraffle</string>
	<key>CFBundleGetInfoString</key>
	<string>OmniGraffle 5.4.4, version 139.18.0.187838, Copyright 2000–2013 The Omni Group</string>
	<key>CFBundleHelpBookFolder</key>
	<string>OmniGraffle Help</string>
	<key>CFBundleHelpBookName</key>
	<string>OmniGraffle Help</string>
	<key>CFBundleIconFile</key>
	<string>OmniGraffle</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.OmniGraffle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OmniGraffle</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.4.4</string>
	<key>CFBundleSignature</key>
	<string>OGfl</string>
	<key>CFBundleVersion</key>
	<string>139.18.0.187838</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4E3002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0433</string>
	<key>DTXcodeBuild</key>
	<string>4E3002</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.8</string>
	<key>LinkBackApplicationURL</key>
	<string>http://www.omnigroup.com/applications/OmniGraffle</string>
	<key>LinkBackServer</key>
	<string>OmniGraffle</string>
	<key>NSAppleScriptEnabled</key>
	<string>Yes</string>
	<key>NSHumanReadableCompleteName</key>
	<string>OmniGraffle</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2000–2013 The Omni Group</string>
	<key>NSHumanReadableShortName</key>
	<string>OmniGraffle</string>
	<key>NSInfoPlistVersion</key>
	<string>5.0</string>
	<key>NSMainNibFile</key>
	<string>OmniGraffle</string>
	<key>NSPrincipalClass</key>
	<string>OGApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>OAAboutPanelControllerClass</key>
	<string>OGAboutPanelController</string>
	<key>OFBundleRegistryConfig</key>
	<dict>
		<key>BundleExtensions</key>
		<array>
			<string>omni</string>
			<string>plugin</string>
		</array>
		<key>LogBundleRegistration</key>
		<false/>
		<key>SearchPaths</key>
		<array>
			<string>AppWrapper</string>
			<string>~/Library/PlugIns</string>
			<string>/Library/PlugIns</string>
			<string>/System/Library/PlugIns</string>
		</array>
	</dict>
	<key>OFControllerClass</key>
	<string>GraffleAppDelegate</string>
	<key>OFRegistrations</key>
	<dict>
		<key>NSUserDefaults</key>
		<dict>
			<key>defaultsDictionary</key>
			<dict>
				<key>ApplicationSupportDirectoryName</key>
				<string>The Omni Group/OmniGraffle</string>
				<key>BorderAmount</key>
				<integer>9</integer>
				<key>BorderSpace</key>
				<true/>
				<key>CheckGrammarWithSpelling</key>
				<false/>
				<key>CompressionType</key>
				<string>gzip</string>
				<key>ContinuallyCheckSpelling</key>
				<true/>
				<key>CustomZooms</key>
				<array>
					<real>1.5</real>
				</array>
				<key>DitherGIFS</key>
				<true/>
				<key>ExportResolutionUnits</key>
				<string>Inches</string>
				<key>ExportScale</key>
				<integer>1</integer>
				<key>FeedbackAddress</key>
				<string>omnigraffle@omnigroup.com</string>
				<key>InterlacePNG</key>
				<true/>
				<key>IsPaletteVisible</key>
				<true/>
				<key>JPEGCompression</key>
				<real>0.75</real>
				<key>LastTemplateCategoryRow</key>
				<integer>0</integer>
				<key>OFSDocumentStoreDisableUbiquity</key>
				<true/>
				<key>OIColorInspectorShowsAlpha</key>
				<true/>
				<key>OIInspectorDefaultTopLeftPosition</key>
				<string>{0,0}</string>
				<key>OIInspectorSideOfScreen</key>
				<string>right</string>
				<key>OITabbedInspectorUnifiedLook</key>
				<true/>
				<key>OutlineTemplateSearchPaths</key>
				<array>
					<string>APPWRAPPER</string>
					<string>/Library/Application Support/OmniGraffle/Diagram Styles</string>
					<string>~/Library/Application Support/OmniGraffle/Diagram Styles</string>
					<string>~/Library/Application Support/The Omni Group/OmniGraffle/Diagram Styles</string>
				</array>
				<key>PaidFeedbackAddress</key>
				<string>omnigraffle@omnigroup.com</string>
				<key>PixelsPerPoint</key>
				<integer>1</integer>
				<key>ResourceBrowser ShowCategories</key>
				<true/>
				<key>ResourceBrowser ShowPaths</key>
				<false/>
				<key>SaveWithCustomIcons</key>
				<true/>
				<key>SelectionFilter</key>
				<integer>511</integer>
				<key>ShapeSearchPaths</key>
				<array>
					<string>~/Library/Application Support/The Omni Group/OmniGraffle/Shapes</string>
					<string>~/Library/Application Support/OmniGraffle/Shapes</string>
					<string>/Library/Application Support/OmniGraffle/Shapes</string>
				</array>
				<key>StencilSearchPaths</key>
				<array>
					<string>APPWRAPPER</string>
					<string>/Library/Application Support/OmniGraffle/Stencils</string>
					<string>~/Library/Application Support/OmniGraffle/Stencils</string>
					<string>~/Library/Application Support/The Omni Group/OmniGraffle/Stencils</string>
				</array>
				<key>TIFFBackground</key>
				<true/>
				<key>TemplateSearchPaths</key>
				<array>
					<string>APPWRAPPER</string>
					<string>/Library/Application Support/OmniGraffle/Templates</string>
					<string>~/Library/Application Support/OmniGraffle/Templates</string>
					<string>~/Library/Application Support/The Omni Group/OmniGraffle/Templates</string>
				</array>
				<key>UseOldBezierPathLayout</key>
				<true/>
				<key>UseStencilWells</key>
				<false/>
				<key>UserFavoriteStylesDirectory</key>
				<string>~/Library/Application Support/The Omni Group/OmniGraffle/Favorite Styles</string>
				<key>UserOutlineTemplateDirectory</key>
				<string>~/Library/Application Support/The Omni Group/OmniGraffle/Diagram Styles</string>
				<key>UserStencilDirectory</key>
				<string>~/Library/Application Support/The Omni Group/OmniGraffle/Stencils</string>
				<key>UserTemplateDirectory</key>
				<string>~/Library/Application Support/The Omni Group/OmniGraffle/Templates</string>
				<key>VersionControlFileNames</key>
				<array>
					<string>CVS</string>
					<string>.svn</string>
					<string>.git</string>
					<string>.hg</string>
					<string>{arch}</string>
					<string>RCS</string>
				</array>
				<key>shadowsDrawBehind</key>
				<true/>
			</dict>
		</dict>
		<key>OAPreferenceController</key>
		<dict>
			<key>OGGeneralPreferences</key>
			<dict>
				<key>category</key>
				<string>Basic</string>
				<key>defaultsArray</key>
				<array>
					<string>ShowGraphicIDs</string>
					<string>GraffleRememberOpenDocuments</string>
					<string>GraffleRememberPalettes</string>
					<string>GraffleOpenUntitled</string>
					<string>GraffleRulerUnits</string>
					<string>GraffleFlatFile</string>
					<string>ReturnInsertsNewline</string>
					<string>TabInsertsTab</string>
					<string>AlwaysUseSmallKnobs</string>
					<string>AutosaveInterval</string>
					<string>DisplayMouseTips</string>
					<string>ClickThroughUnfilledObjects</string>
					<string>GraffleTemplateDocumentPath</string>
					<string>UseTemplateDocumentPath</string>
				</array>
				<key>defaultsDictionary</key>
				<dict>
					<key>AlwaysUseSmallKnobs</key>
					<false/>
					<key>AutosaveInterval</key>
					<integer>120</integer>
					<key>ClickThroughUnfilledObjects</key>
					<false/>
					<key>DisplayMouseTips</key>
					<true/>
					<key>EnableMultiTouchGestures</key>
					<false/>
					<key>GraffleFlatFile</key>
					<integer>0</integer>
					<key>GraffleOpenUntitled</key>
					<true/>
					<key>GraffleRememberOpenDocuments</key>
					<false/>
					<key>GraffleRememberPalettes</key>
					<true/>
					<key>GraffleRulerUnits</key>
					<string>Inches</string>
					<key>GraffleTemplateDocumentPath</key>
					<string></string>
					<key>ReturnInsertsNewline</key>
					<true/>
					<key>ShowGraphicIDs</key>
					<false/>
					<key>TabInsertsTab</key>
					<false/>
					<key>UseTemplateDocumentPath</key>
					<false/>
				</dict>
				<key>helpURL</key>
				<string>anchor:generalpreferences</string>
				<key>icon</key>
				<string>GeneralPreferences</string>
				<key>identifier</key>
				<string>com.omnigroup.OmniGraffle.OGGeneralPreferences.Basic</string>
				<key>nib</key>
				<string>GeneralPreferences</string>
				<key>ordering</key>
				<integer>0</integer>
			</dict>
			<key>OGModePreferences</key>
			<dict>
				<key>category</key>
				<string>Basic</string>
				<key>defaultsArray</key>
				<array>
					<string>DoubleClickCreatesLabel</string>
					<string>DoubleClickEndsLine</string>
					<string>ActiveToolsMask4</string>
					<string>Graffle Tool Shape Selection</string>
					<string>Sticky Behavior</string>
					<string>Graffle Tool Shape Prototypes</string>
					<string>Graffle Tool Text Selection</string>
					<string>Graffle Tool Text Prototypes</string>
					<string>Graffle Tool Line Selection</string>
					<string>Graffle Tool Line Prototypes</string>
					<string>Graffle Tool Polygon Selection</string>
					<string>Graffle Tool Polygon Prototypes</string>
					<string>Graffle Tool Pen Selection</string>
					<string>Graffle Tool Pen Prototypes</string>
					<string>GraffleStampTool</string>
				</array>
				<key>defaultsDictionary</key>
				<dict>
					<key>ActiveToolsMask4</key>
					<integer>3551</integer>
					<key>DoubleClickCreatesLabel</key>
					<false/>
					<key>DoubleClickEndsLine</key>
					<true/>
					<key>ExpandedTools</key>
					<false/>
					<key>Graffle Tool Line Prototypes</key>
					<array>
						<dict>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>LineType</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
					</array>
					<key>Graffle Tool Line Selection</key>
					<integer>0</integer>
					<key>Graffle Tool Pen Prototypes</key>
					<array>
						<dict/>
					</array>
					<key>Graffle Tool Pen Selection</key>
					<integer>0</integer>
					<key>Graffle Tool Polygon Prototypes</key>
					<array>
						<dict/>
					</array>
					<key>Graffle Tool Polygon Selection</key>
					<integer>0</integer>
					<key>Graffle Tool Shape Prototypes</key>
					<array>
						<dict/>
					</array>
					<key>Graffle Tool Shape Selection</key>
					<integer>0</integer>
					<key>Graffle Tool Text Prototypes</key>
					<array>
						<dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>0</integer>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>Graffle Tool Text Selection</key>
					<integer>0</integer>
					<key>GraffleStampTool</key>
					<string>Style Brush</string>
					<key>Sticky Behavior</key>
					<integer>1</integer>
					<key>Tool Hot Keys</key>
					<dict>
						<key>Browse</key>
						<string>b</string>
						<key>Diagramming</key>
						<string>d</string>
						<key>Hand</key>
						<string> </string>
						<key>Line</key>
						<string>c</string>
						<key>Magnet</key>
						<string>m</string>
						<key>Pen</key>
						<string>e</string>
						<key>Rubber Stamp</key>
						<string>r</string>
						<key>Selection</key>
						<string>v</string>
						<key>Shape</key>
						<string>s</string>
						<key>Style Brush</key>
						<string>w</string>
						<key>Text</key>
						<string>t</string>
						<key>Zoom</key>
						<string>z</string>
					</dict>
					<key>Tool Ordering</key>
					<array>
						<string>OGSelectionTool</string>
						<string>OGShapeTool</string>
						<string>OGLineTool</string>
						<string>OGTextTool</string>
						<string>OGDividerTool</string>
						<string>OGPenTool</string>
						<string>OGDiagramTool</string>
						<string>OGStyleTool</string>
						<string>OGStampTool</string>
						<string>OGMagnetTool</string>
						<string>OGZoomTool</string>
						<string>OGHandTool</string>
						<string>OGBrowseTool</string>
					</array>
					<key>Tools Columns</key>
					<integer>1</integer>
					<key>Tools Docked</key>
					<true/>
					<key>Tools Docked Edge</key>
					<integer>0</integer>
					<key>Tools Docked Left</key>
					<true/>
					<key>Tools Docked Offset</key>
					<integer>70</integer>
					<key>Tools Hidden</key>
					<true/>
					<key>Tools Option Click To Inspect</key>
					<true/>
					<key>Tools Rows</key>
					<integer>1</integer>
					<key>Tools Vertical</key>
					<true/>
				</dict>
				<key>helpURL</key>
				<string>anchor:drawingtoolspreferences</string>
				<key>icon</key>
				<string>ModePreferences</string>
				<key>identifier</key>
				<string>com.omnigroup.OmniGraffle.OGModePreferences.Basic</string>
				<key>nib</key>
				<string>ModePreferences</string>
				<key>ordering</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>Shape</key>
		<dict>
			<key>FlattenedRectangle</key>
			<dict/>
			<key>OGAdjustableArcShape</key>
			<dict/>
			<key>OGAdjustableArrowShape</key>
			<dict/>
			<key>OGAdjustableDoubleArrowShape</key>
			<dict/>
			<key>OGAdjustableStarShape</key>
			<dict/>
			<key>OGAdjustableWedgeShape</key>
			<dict/>
		</dict>
	</dict>
	<key>OIInspectorRegistryClass</key>
	<string>OGInspectorRegistry</string>
	<key>OIWorkspacesHelpURL</key>
	<string>anchor:workspaces</string>
	<key>OSUSoftwareUpdateTrack</key>
	<string></string>
	<key>OZHelpURL</key>
	<string>anchor:licensing</string>
	<key>OZTrialVersion</key>
	<integer>7</integer>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniGraffle document</string>
			<key>UTTypeIconName</key>
			<string>OGdoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnigraffle.graffle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>graffle</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniGraffle document</string>
			<key>UTTypeIconName</key>
			<string>OGdoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnigraffle.graffle-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>graffle</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnigraffle.graffle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniGraffle Stencil</string>
			<key>UTTypeIconName</key>
			<string>StencilDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnigraffle.gstencil</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gstencil</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnigraffle.graffle-package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniGraffle Stencil</string>
			<key>UTTypeIconName</key>
			<string>StencilDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnigraffle.gstencil-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gstencil</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnigraffle.graffle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniGraffle Template</string>
			<key>UTTypeIconName</key>
			<string>OGTemplate.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnigraffle.template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gtemplate</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnigraffle.graffle-package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniGraffle Template</string>
			<key>UTTypeIconName</key>
			<string>OGTemplate.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnigraffle.template-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gtemplate</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnigraffle.graffle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniGraffle Diagram Style</string>
			<key>UTTypeIconName</key>
			<string>OGDiagramStyle.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnigraffle.diagramstyle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gdiagramstyle</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnigraffle.graffle-package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniGraffle Diagram Style</string>
			<key>UTTypeIconName</key>
			<string>OGDiagramStyle.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnigraffle.diagramstyle-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gdiagramstyle</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Visio XML Drawing</string>
			<key>UTTypeIconName</key>
			<string>Visio_Doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.ms-visio.xml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vdx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Visio XML Stencil</string>
			<key>UTTypeIconName</key>
			<string>Visio_Doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.ms-visio.xml.stencil</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vsx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Visio XML Template</string>
			<key>UTTypeIconName</key>
			<string>Visio_Doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.ms-visio.xml.template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vtx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Visio Drawing</string>
			<key>UTTypeIconName</key>
			<string>Visio_Doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.ms-visio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vsd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Visio Stencil</string>
			<key>UTTypeIconName</key>
			<string>Visio_Doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.ms-visio.stencil</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vss</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Visio Template</string>
			<key>UTTypeIconName</key>
			<string>Visio_Doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.ms-visio.template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vst</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>com.apple.package</string>
			<key>UTTypeDescription</key>
			<string>ProjectBuilderDocumentType</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.apple-xcode</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pbproj</string>
					<string>pbxproj</string>
					<string>xcode</string>
					<string>xcodeproj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>com.apple.package</string>
			<key>UTTypeDescription</key>
			<string>ProjectBuilderDocumentType</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.apple-framework</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>framework</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lighthouse Diagram2 File</string>
			<key>UTTypeIconName</key>
			<string>Diagram.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.lighthouse-diagram</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>diagram2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lighthouse Diagram2 Palette</string>
			<key>UTTypeIconName</key>
			<string>Diagram.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.lighthouse-diagram-palette</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dpalette2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.text</string>
			<key>UTTypeDescription</key>
			<string>GraphViz dot Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.graphviz-dot</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.graphviz.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dot</string>
					<string>gv</string>
				</array>
				<key>public.mime-type</key>
				<string>text/x-graphviz</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>com.apple.package</string>
			<key>UTTypeDescription</key>
			<string>EOModeler Model</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.apple-eomodel</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>eomodeld</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 document</string>
			<key>UTTypeIconName</key>
			<string>OO3Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>OutL</string>
				<key>public.filename-extension</key>
				<string>oo3</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 document</string>
			<key>UTTypeIconName</key>
			<string>OO3Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>OutL</string>
				<key>public.filename-extension</key>
				<string>oo3</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnioutliner.oo3</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 template</string>
			<key>UTTypeIconName</key>
			<string>OO3Template.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>oo3template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnioutliner.oo3-package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 template</string>
			<key>UTTypeIconName</key>
			<string>OO3Template.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3template-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>oo3template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 2 document</string>
			<key>UTTypeIconName</key>
			<string>OmniOutlinerDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.ooutline</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>outline</string>
					<string>ooutline</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>com.apple.package</string>
			<key>UTTypeDescription</key>
			<string>NibDocumentType</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.apple-nib</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nib</string>
					<string>xib</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>Scalable Vector Graphics XML File Type</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.svg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>svg </string>
				<key>public.filename-extension</key>
				<string>svg</string>
				<key>public.mime-type</key>
				<string>image/svg+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator document</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.foreign-types.ai</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>ai</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
